.home {
  flex: 4;

  .homeWrapper {
    padding: 20px;
    margin-top: 30px;
    margin-left: 15px;
    .searchBox {
      margin-bottom: 50px;
      .searchTitle {
        font-family: "IBM Plex Sans KR", sans-serif;
        color: #333;
        font-size: 35px;
        margin-bottom: 30px;
      }

      .searchbar {
        width: 50%;
        height: 35px;
        background-color: white;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #0b3d92;
        overflow: hidden;

        .searchIcon {
          font-size: 30px !important;
          background-color: #0b3d92;
          color: white;
          width: 13%;
          height: 100%;
        }

        .searchInput {
          border: none;
          margin-left: 15px;
          width: 70%;
          &:focus {
            outline: none;
          }
        }
      }
    }

    .searchConditionBox {
      .title {
        font-size: 25px;
        font-weight: 600;
        font-family: "IBM Plex Sans KR", sans-serif;
        color: #333;
        margin-bottom: 30px;
      }

      .conditionList {
        display: flex;
        padding: 0;
        width: 60%;
        flex-wrap: wrap;

        li {
          margin: 0 70px 30px 0;

          button {
            padding: 10px 15px;
            width: 120px;
            border-radius: 30px;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: white;
            color: #333;
            font-family: "IBM Plex Sans KR", sans-serif;
            font-size: 16px;
            font-weight: 500;
            background-color: rgb(245, 247, 255);
            color: #0b3d92;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
              transform: scale(1.05);
              color: rgb(245, 247, 255);
              background-color: #0b3d92;
            }
          }
        }
      }

      .chipBox {
        margin-top: 30px;
        margin-bottom: 20px;
        display: flex;
        button {
          border: none;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          background-color: white;
          color: #333;
          font-family: "IBM Plex Sans KR", sans-serif;
          border-radius: 30px;
          display: flex;
          align-items: center;
          margin-right: 30px;
          padding: 5px 10px;
          font-weight: 600;
          font-size: 14px;
          color: #333;

          &:nth-child(1) {
            background-color: rgb(252, 240, 252);
            color: purple;
            .icon {
              margin-left: 5px;
              color: purple;
            }
          }

          &:nth-child(2) {
            background-color: rgb(238, 255, 243);
            color: green;
            .icon {
              margin-left: 5px;
              color: green;
            }
          }

          &:nth-child(3) {
            background-color: rgb(240, 246, 255);
            color: darkblue;
            .icon {
              margin-left: 5px;
              color: darkblue;
            }
          }

          &:nth-child(4) {
            background-color: rgb(255, 243, 238);
            color: orangered;
            .icon {
              margin-left: 5px;
              color: orangered;
            }
          }
        }
      }
    }
  }

  .homeBottom {
    display: flex;
    flex-wrap: wrap;
  }
}
